
@using HospitalEquipment.ActiveFolder
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">


    <title>Hospital Equipment</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/styledanger.css" rel="stylesheet" />
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <img src="~/img/Logo.png" style="margin-left:-200px;" width="100" height="70" alt="Çağdaş Karaca" />
            <a class="navbar-brand" href="#">Hospital Equipment</a>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->@*card-body*@
    <div class="card-body" style="margin-top:1px;">
        <div class="row navbar-static-top">
            @RenderBody()
        </div>
    </div>
    <footer class="footer text-faded text-center py-xl-3 navbar-fixed-bottom">
        <div class="container">
            <div></div>
            <p class="m-0 table-sm">Hospital Equipment Web Application</p>
            <p class="m-0 table-sm">Created By Çağdaş KARACA</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    @RenderSection("scriptdanger", false)
    @RenderSection("scripts", false)
</body>

</html>